{
  "appId": "65854C1061009",
  "appKey": "65854C1061009_IOS",
  "base64Code": "",
  "bundleId": "com.bankofshanghai.emop",
  "rootPath": "mpaas/ios/65854C1061009-pp2",
  "workspaceId": "pp2",
  "rpcGW":"https://mpaas3.bankofshanghai.net:3601/mgw.htm",
  "mpaasapi":"https://mpaas3.bankofshanghai.net:3601/mgw.htm",
  "pushPort": "8000",
  "pushGW":"mpaas3.bankofshanghai.net",
  "logGW":"https://mpaas3.bankofshanghai.net:3602",
  "syncport": "8666",
  "syncserver":"mpaas3.bankofshanghai.net"
}



